/* Used by error reporting code in test_base.js */
.mismatch { background: #fee; font-weight: bold }
span.annot { margin:2px 2px 2px 3em; border:1px dotted #88f; background:#eef;
             padding: 0 2px 0 2px }
.nocode { background: #f8f8f8 }
