/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.prettyprint .pln { color: #000 }  /* plain text */

@media screen {
  .prettyprint .str { color: #080 }  /* string content */
  .prettyprint .kwd { color: #008 }  /* a keyword */
  .prettyprint .com { color: #800 }  /* a comment */
  .prettyprint .typ { color: #606 }  /* a type name */
  .prettyprint .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .prettyprint .pun,
  .prettyprint .opn,
  .prettyprint .clo { color: #660 }
  .prettyprint .tag { color: #008 }  /* a markup tag name */
  .prettyprint .atn { color: #606 }  /* a markup attribute name */
  .prettyprint .atv { color: #080 }  /* a markup attribute value */
  .prettyprint .dec,
  .prettyprint .var { color: #606 }  /* a declaration; a variable name */
  .prettyprint .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .prettyprint .str { color: #060 }
  .prettyprint .kwd { color: #006; font-weight: bold }
  .prettyprint .com { color: #600; font-style: italic }
  .prettyprint .typ { color: #404; font-weight: bold }
  .prettyprint .lit { color: #044 }
  .prettyprint .pun,
  .prettyprint .opn,
  .prettyprint .clo { color: #440 }
  .prettyprint .tag { color: #006; font-weight: bold }
  .prettyprint .atn { color: #404 }
  .prettyprint .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
.prettyprint ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
.prettyprint li.L0,
.prettyprint li.L1,
.prettyprint li.L2,
.prettyprint li.L3,
.prettyprint li.L5,
.prettyprint li.L6,
.prettyprint li.L7,
.prettyprint li.L8 { list-style-type: none }
/* Alternate shading for lines */
.prettyprint li.L1,
.prettyprint li.L3,
.prettyprint li.L5,
.prettyprint li.L7,
.prettyprint li.L9 { background: #eee }
