/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprinted. */
.prettyprinted .pln { color: #000 }  /* plain text */

@media screen {
  .prettyprinted .str { color: #080 }  /* string content */
  .prettyprinted .kwd { color: #008 }  /* a keyword */
  .prettyprinted .com { color: #800 }  /* a comment */
  .prettyprinted .typ { color: #606 }  /* a type name */
  .prettyprinted .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .prettyprinted .pun,
  .prettyprinted .opn,
  .prettyprinted .clo { color: #660 }
  .prettyprinted .tag { color: #008 }  /* a markup tag name */
  .prettyprinted .atn { color: #606 }  /* a markup attribute name */
  .prettyprinted .atv { color: #080 }  /* a markup attribute value */
  .prettyprinted .dec,
  .prettyprinted .var { color: #606 }  /* a declaration; a variable name */
  .prettyprinted .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .prettyprinted .str { color: #060 }
  .prettyprinted .kwd { color: #006; font-weight: bold }
  .prettyprinted .com { color: #600; font-style: italic }
  .prettyprinted .typ { color: #404; font-weight: bold }
  .prettyprinted .lit { color: #044 }
  .prettyprinted .pun,
  .prettyprinted .opn,
  .prettyprinted .clo { color: #440 }
  .prettyprinted .tag { color: #006; font-weight: bold }
  .prettyprinted .atn { color: #404 }
  .prettyprinted .atv { color: #060 }
}

/* Put a border around prettyprinteded code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
.prettyprinted ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
.prettyprinted li.L0,
.prettyprinted li.L1,
.prettyprinted li.L2,
.prettyprinted li.L3,
.prettyprinted li.L5,
.prettyprinted li.L6,
.prettyprinted li.L7,
.prettyprinted li.L8 { list-style-type: none }
/* Alternate shading for lines */
.prettyprinted li.L1,
.prettyprinted li.L3,
.prettyprinted li.L5,
.prettyprinted li.L7,
.prettyprinted li.L9 { background: #eee }
