/* Atelier Estuary Light by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/estuary) */

/* plain text */
.pln {
  color: #22221b;
}

@media screen {
  /* string content */
  .str {
    color: #7d9726;
  }

  /* a keyword */
  .kwd {
    color: #5f9182;
  }

  /* a comment */
  .com {
    color: #878573;
  }

  /* a type name */
  .typ {
    color: #36a166;
  }

  /* a literal value */
  .lit {
    color: #ae7313;
  }

  /* punctuation */
  .pun {
    color: #22221b;
  }

  /* lisp open bracket */
  .opn {
    color: #22221b;
  }

  /* lisp close bracket */
  .clo {
    color: #22221b;
  }

  /* a markup tag name */
  .tag {
    color: #ba6236;
  }

  /* a markup attribute name */
  .atn {
    color: #ae7313;
  }

  /* a markup attribute value */
  .atv {
    color: #5b9d48;
  }

  /* a declaration */
  .dec {
    color: #ae7313;
  }

  /* a variable name */
  .var {
    color: #ba6236;
  }

  /* a function name */
  .fun {
    color: #36a166;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #f4f3ec;
  color: #929181;
  font-family: Consolas, Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #e7e6df;
  padding: 10px;
  border-radius: 3px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
