/* Atelier Lakeside Dark by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/) */

/* plain text */
.pln {
  color: #ebf8ff;
}

@media screen {
  /* string content */
  .str {
    color: #568c3b;
  }

  /* a keyword */
  .kwd {
    color: #6b6bb8;
  }

  /* a comment */
  .com {
    color: #5a7b8c;
  }

  /* a type name */
  .typ {
    color: #257fad;
  }

  /* a literal value */
  .lit {
    color: #935c25;
  }

  /* punctuation */
  .pun {
    color: #ebf8ff;
  }

  /* lisp open bracket */
  .opn {
    color: #ebf8ff;
  }

  /* lisp close bracket */
  .clo {
    color: #ebf8ff;
  }

  /* a markup tag name */
  .tag {
    color: #d22d72;
  }

  /* a markup attribute name */
  .atn {
    color: #935c25;
  }

  /* a markup attribute value */
  .atv {
    color: #2d8f6f;
  }

  /* a declaration */
  .dec {
    color: #935c25;
  }

  /* a variable name */
  .var {
    color: #d22d72;
  }

  /* a function name */
  .fun {
    color: #257fad;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #161b1d;
  color: #516d7b;
  font-family: Consolas, Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #161b1d;
  padding: 10px;
  border-radius: 3px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
